* {
        margin: 0; 
        padding: 0; 
}

body {
        font: 16px Helvetica, Sans-Serif; 
        line-height: 24px; 
        background: url("../images/noise.jpg"); 
}

.clear { 
        clear: both; 
}
#page-wrap {
        width: 800px; 
        margin: 40px auto 10px; 
}
#pic { 
        float: right; 
        margin: -30px 0 0 0; 
}

h1 { 
        margin: 0 0 15px 0; 
        padding: 0 0 16px 0; 
        font-size: 42px; 
        font-weight: bold; 
        letter-spacing: -1px; 
        border-bottom: 1px solid #999; 
}

h2 { 
        font-size: 15px; 
        margin: 0 0 0 0; 
        position: relative; 
}
h2 span { 
        position: absolute; 
        #bottom: 0; 
        right: 0; 
        font-style: italic; 
        font-family: Georgia, Serif; 
        font-size: 15px; color: #999; 
        font-weight: normal; 
}

p { 
        margin: 0 0 16px 0; 
}
a { 
        color: #999; 
        text-decoration: none; 
        border-bottom: 1px dotted; 
}
a:hover { 
        border-bottom-style: solid; 
        color: blue; 
}
ul { 
        margin: 0 0 32px 17px; 
}
#objective { 
        width: 800px; 
        float: right; 
}
#objective p { 
        font-family: Georgia, Serif; 
        font-style: italic; color: #222; 
}
dt2 { 
        font-weight: bold; 
        font-size: 22px; 
        text-align: right; 
        padding: 0 10px 0 0; 
        width: 160px; float: left; 
        height: 80px; border-right: 1px solid #999; 
        font-style: italic; 
}
dt1 { 
        font-weight: bold; 
        font-size: 22px; 
        text-align: right; 
        padding: 0 10px 0 0; 
        width: 160px; 
        float: left; 
        height: 460px; 
        border-right: 1px solid #999; 
        font-style: italic; 
}
dt { 
        font-weight: bold; 
        font-size: 22px; 
        text-align: right; 
        padding: 0 10px 0 0; 
        width: 160px; 
        float: left; 
        height: 140px; 
        border-right: 1px solid #999; 
        font-style: italic; 
}
dd { 
        font-size: 15px; 
        width: 580px; 
        line-height: 25px; 
        float: right; 
}
dd.clear { 
        float: none; 
        margin: 0; 
        height: 15px; 
}

#toTop {
        display: none;
        text-decoration: none;
        position: fixed;
        bottom: 14px;
        right: 3%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        border: none;
        text-indent: 100%;
        background: url("../images/to-top.png") no-repeat 0px 0px;
}

#toTopHover {
        width: 40px;
        height: 40px;
        display: block;
        overflow: hidden;
        float: right;
        opacity: 0;
        -moz-opacity: 0;
        filter: alpha(opacity=0);
}