.zip_codes_for_the_usa {
  fill: #efefef;
}
.states {
  fill: none;
  stroke: none;
  stroke-linejoin: round;
}
.lcyan2g-0 { fill:#e0ffff; }
.lcyan2g-1 { fill:#bbfff4; }
.lcyan2g-2 { fill:#a8ffe9; }
.lcyan2g-3 { fill:#83ffcb; }
.lcyan2g-4 { fill:#70ffb8; }
.lcyan2g-5 { fill:#5dffa1; }
.lcyan2g-6 { fill:#4bff87; }
.lcyan2g-7 { fill:#38ff6a; }
.lcyan2g-8 { fill:#25ff4a; }
.lcyan2g-9 { fill:#75ff13; }
.lcyan2g-10 { fill:#8cf010;}
.lcyan2g-11 { fill:#97e80e;}
.lcyan2g-12 { fill:#a3e10d;}
.lcyan2g-13 { fill:#bad209;}
.lcyan2g-14 { fill:#c5ca08;}
.lcyan2g-15 { fill:#d1c306;}
.lcyan2g-16 { fill:#ddbb05;}
.lcyan2g-17 { fill:#e8b403;}
.lcyan2g-18 { fill:#f4ad02;}
.lcyan2g-19 { fill:#ffa500;}
.lcyan2g-20 { fill:#ec8a00;}
.lcyan2g-21 { fill:#d86e00;}
.lcyan2g-22 { fill:#cf6000;}
.lcyan2g-23 { fill:#c55200;}
.lcyan2g-24 { fill:#bb4500;}
.lcyan2g-25 { fill:#b23700;}
.lcyan2g-26 { fill:#a82900;}
.lcyan2g-27 { fill:#9e1b00;}
.lcyan2g-28 { fill:#950e00;}
.lcyan2g-29 { fill:#8b0000;}